.ConvoMessage {
  padding: 10px 15px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 5px;
}

.FromMe {
  align-self: flex-end;
  background-color: black;
  border-color: black;
  color: white;
}

.ToMe {
  align-self: flex-start;
  border-color: rgba(0, 0, 0, 0.5);
}